asyncio==4.0.0
betterproto2==0.10.0
logging==0.4.9.6
osmium-chat==0.3.6
osmium-protos==2.0.1
pastel==0.2.1
poethepoet==0.46.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pyyaml==6.0.3
six==1.17.0
typing-extensions==4.16.0
websockets==17.0.1
